<!--<p>Hello <%#= @resource.email %>!</p>-->

<!--<p>We're contacting you to notify you that your password has been changed.</p>-->
<div style="background-color: #f8f9fa; padding: 20px; border-radius: 8px; margin: 20px; text-align: center;">
  <h3 style="color: #007bff;">Hello <%= @resource.email %>!</h3>
  <p style="color: #495057;">We're contacting you to notify you that your password has been changed.</p>
</div>
